<h1 class="text-2xl font-bold text-orange-200 mb-4 ml-6">Update Kitten</h1>

<%= render "form", kitten: @kitten %>

<%= button_to "Delete this Kitten", @kitten, method: :delete,
    class: "border border-black p-2" %>

