<h1 class="text-2xl font-bold text-orange-200 mb-4 ml-6">Update Kitten</h1>

<%= render "form", kitten: @kitten %>

<%= button_to "Delete #{@kitten.name}",
              @kitten,
              method: :delete,
              class: "border border-transparent py-1 px-2 ml-6 mt-4 bg-red-300
                      text-black font-bold rounded-md hover:bg-transparent
                      border-2 hover:border-red-300 hover:text-red-300" %>
