<h1 class="font-bold">Kittens Show</h1>

<ul>
  <% %i[name age softness cuteness].each do |property| %>
  <li>
    <%= "#{property}: #{@kitten.send(property)}" %>
  </li>
  <% end %>
</ul>

<%= link_to "Update this kitten's info", edit_kitten_path(@kitten) %>

<%= button_to "Delete this kitten", @kitten, method: :delete,
    class: "border border-black p-2" %>
